<div class='note-data-column column'  [class.hidden]="isHidden()">
  <div class="preview-container" *ngIf="note">
    <app-note-toolbar [mode]="'view'" [note]="note"></app-note-toolbar>

    <div class="note-mtime">Last modified at {{this.formatdt()}}</div>

    <div class="note-title-container">
      <div class="note-title">
        {{ note.plaintext.title }}
      </div>
    </div>
    
    <div markdown ngPreserveWhitespaces class="note-md-text" 
      [data]="note.plaintext.contents">
    </div>
  </div>
</div>