<div class="container text-center -auth">
    <form action="#" class="form-wrapper" role="form" method="post">

        <table>
            <tr>
                <td style="width:50%"><img src="../../../../images/Encryptic-web2.0-transparent.png" class="logo-lock"></h1></td>
                <td style="width:50%"><div class="form-group form--icon">
                    <!-- <input name="username" class="form-control input-lg input--brand"
                    placeholder="{{ _.i18n('Username') }}" required="" /> -->
                    <select name="username" class="form-control input-lg input--brand">
                    <% _.each(profiles, function(profile) { %>
                        <option value="{{profile.username}}">{{profile.username}}</option>
                    <% }) %>
                    </select>
                    </div> 
                </td>
            </tr>
            <tr>
                <td><h1 class="header--brand">Encryptic</h1>
                    The open source note-taking app</td>
                <td>
                    <div class="form-group form--icon">
                        <input class="form-control input-lg input--brand" type="password" name="password"
                        placeholder="{{ _.i18n('Encryption Password') }}" required="" />
                        <div class="form-group">
                                <button class="btn btn-lg btn-block btn--brand" type="submit">
                                    {{ _.i18n('Unlock') }}
                                </button>
                        </div>
                    </div> 
                </td>
            </tr>
       </table>
        <div class="form-group">
            <button class="btn btn-lg btn-block btn--brand btn--setup" type="button" style="border:0">
                {{ _.i18n('Create a new identity') }}
            </button>
        </div>
    </form>
</div>
