.branding {
    font-family: 'Abel' , sans-serif;
  }
  
  .error {
    background-color: red;
    color: whitesmoke;
  }
  
  .bottom {
    position: absolute;
    bottom: 0;
    left: 4px;
    width:20%;
  }
  