@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html {
  width: 100%;
  display: table;
}

body {
  width: 100%;
  overflow: hidden;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.note-list-column::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.note-list-column::-webkit-scrollbar-track {
  background: slategray;        /* color of the tracking area */
}
.note-list-column::-webkit-scrollbar-thumb {
  background-color: lightblue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid slategrey;  /* creates padding around scroll thumb */
}

.note-list-column {
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: lightblue slategrey;   /* scroll thumb & track */
  user-select: none;
}

.column {
  float: left;
  height: 100vh;
}

.note-data-column {
  width: 55%;
  background-color: steelblue;
  overflow: hidden;
}

.note-list-column {
  width: 25%;
  background-color: slategray;
  border-collapse: collapse;
  max-height: 100vh;
  min-height: 300px;
  overflow-y: auto;
}

.menu-column {
  min-width: 20vh;
  width: 20%;
}

.pointer {
  cursor: pointer;
}

.treeview-container {
  height: 75%;
  padding: 10px;
  overflow-x: hidden;
}

.treeview-item {
  text-overflow: ellipsis;
}

/* Codemirror stuff */

.CodeMirror-placeholder {
  color: #999 !important;
}

 {

}

.CodeMirror-scrollbar-filler {
  background-color: transparent;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
  height: 12px;               /* width of the entire scrollbar */
}
.CodeMirror-hscrollbar::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background-color: lightblue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid slategrey;  /* creates padding around scroll thumb */
}

.CodeMirror-hscrollbar {
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: lightblue slategrey;   /* scroll thumb & track */
  user-select: none;
  outline-style: none;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: lightblue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid slategrey;  /* creates padding around scroll thumb */
}

.CodeMirror-vscrollbar {
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: lightblue slategrey;   /* scroll thumb & track */
  user-select: none;
  outline-style: none;
}


.cm-s-content-editor {
  height: 89.5vh;
}

.cm-s-content-editor:after {
  clear: both;
}

.cm-s-config-editor {
  height: 75vh;
  overflow: auto;
}

.cm-s-config-editor:after {
  clear: both;
}

.config-editor {
  overflow: auto;
  height: 95vh;
}