@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

h2 {
  margin-top: 0px;

}

.note-title {
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  padding: 0 0 0 4px;
  background-color: #263238;
  color: #EEFFFF;
  width: 100%;
  border-style: none;
  border-color: transparent;
  outline-style: none;
}

.note-title-container {
  background-color: #263238;
  height: 4vh;
  padding-left: 8px;
}

.note-mtime {
  height: 2.5vh;
  padding-left: 4px;
  font-family: 'Abel', sans-serif;
}

.edit-container {
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

#content-editor {
  overflow-y: auto;
} 

#content-editor:after {
  clear: both;
}

