<div class='note-data-column column' [class.hidden]="isHidden()">
  <div class='edit-container' *ngIf="note">
      <app-note-toolbar [mode]="'edit'" [note]="note"></app-note-toolbar>

      <div class="note-mtime">Saved at {{this.formatdt()}}</div>

      <div class="note-title-container">
        <textarea class="note-title" id="note-title" placeholder="Title" [value]="note.plaintext.title" (input)="note.plaintext.title = $event.target.value;onChange();"></textarea>
      </div>
      
      <ngx-codemirror id="content-editor"
        [(ngModel)]="note.plaintext.contents"
        (ngModelChange)="onChange()"
        [options]="{
          name: 'test',
          lineNumbers: true,
          theme: 'material content-editor',
          mode: 'markdown',
          placeholder: 'You can start typing your note here.  Markdown is supported.'
        }"> 
      </ngx-codemirror>
    </div>
</div>