.note-toolbar {
    width: 100%;
    font-family: 'Abel', sans-serif;
    padding: 4px;
    height: 6vh;
    color: #acacaa;
    /* background-color: #2b2b2b; */
    /* border-bottom: 1px solid #171010; */
}

.toolbar-component {
    float: left;
    margin-right: 8px;
}

.notebook-selector {
    margin-left: 8px;
    margin-right: 8px;
    float:right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

