.note-toolbar {
    width: 100%;
    font-family: 'Abel', sans-serif;
    padding: 4px;
    height: 3vh;
}

.toolbar-component {
    float: left;
    margin-right: 8px;
}

.notebook-selector {
    margin-left: 8px;
    margin-right: 8px;
    float:right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

